@define-color text   #cad3f5;
@define-color mauve  #6699cc;
@define-color base   #24273a;

* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0.75);
}

button {
	border-radius: 5px;
	text-decoration-color: #FFFFFF;
	color: #FFFFFF;
	background-color: @base;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	padding: 5px 2px 5px 2px;
	margin: 0px 4px 0px 4px;
	border: 1px solid @mauve;
	padding-top: 100px;
	padding-bottom: 100px;
	margin: 10px;
	font-size: 20px;
}

button:focus, button:active, button:hover {
	background-color: #3700B3;
	outline-style: none;
	color: @text;
	background-color: @mauve;
	padding: 7px;
	border: 5px solid @mauve;
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
